.cta {
  .cta-bg {
    background: #475055;
    box-shadow: 3px 4px 0px #8c9da6;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h4.cta-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
  }
}
