.masterpiece {
  .img-radius {
    border-radius: 15px;
  }

  .portfolio-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    color: #475055;
  }

  .portfolio-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4a4b4f;
  }
}
